<!doctype html>
    <head>
        <style>
            .formdes{
                padding: 2%;
                background: url('https://cdn.wallpapersafari.com/90/24/7IEhgF.jpg');
                background-color:aquamarine;
                width: 30%;
                margin-top: 4%;
                align-items: center;
                margin-left: 35%;
                border-radius: 20px ;
                box-shadow: 10px 15px #000000;
            }

            body{
            background: url('https://assets-global.website-files.com/5e39e095596498a8b9624af1/5f6e93d250a6d04f4eae9f02_Backgrounds-WFU-thumbnail-(size).jpg');
            background-repeat: no-repeat;
            background-size: cover;
            }
        </style>

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        
        <title>
            Member Login
        </title>
    </head>

    <body>
        <form action="/member/mempost" method="post" class="formdes">
            <h3><center>Member Login</center></h3><br>
            <div class="mb-3">
                <label>Member Name</label>
                <input type="text" class="form-control" id="name" name="name1" placeholder="Enter Member Name" required>
              </div>

              <div class="mb-3">
                <label>Member Password</label>
                <input type="password" class="form-control" id="pasword" name="pasword1" placeholder="Enter Member password" required>
              </div>
              <button type="submit" class="btn btn-primary w-100">Member Login</button> <br> <br>
          </form>
    </body>

</html>
